# Case Study on mtcars dataset in Python

In [2]:
import statsmodels.api as sm

In [3]:
#https://vincentarelbundock.github.io/Rdatasets/datasets.html
dataset_mtcars = sm.datasets.get_rdataset(dataname='mtcars', package='datasets')
dataset_mtcars.data.head()
mtcars = dataset_mtcars.data

In [4]:
# Structure of the data
mtcars.shape

(32, 11)

In [5]:
# Summary of the data
mtcars.describe(include='all')

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [6]:
#print first/last few rows
mtcars.head(5)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [7]:
mtcars.tail(5)

                 mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
Lotus Europa    30.4    4   95.1  113  3.77  1.513  16.9   1   1     5     2
Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5     4
Ferrari Dino    19.7    6  145.0  175  3.62  2.770  15.5   0   1     5     6
Maserati Bora   15.0    8  301.0  335  3.54  3.570  14.6   0   1     5     8
Volvo 142E      21.4    4  121.0  109  4.11  2.780  18.6   1   1     4     2

In [8]:
#print number of rows
mtcars.shape[0]

32

In [9]:
# print number of columns
mtcars.shape[1]

11

In [10]:
mtcars.columns

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb'],
      dtype='object')

### Filter Rows

In [11]:
#cars with cyl=8
mtcars[mtcars.cyl==8]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8

In [12]:
#cars with mpg <= 27
mtcars[mtcars.mpg<=27]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [13]:
#rows match auto tx
mtcars[mtcars=='auto tx']

                     mpg  cyl  disp  hp  drat  wt  qsec  vs  am  gear  carb
Mazda RX4            NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Mazda RX4 Wag        NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Datsun 710           NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Hornet 4 Drive       NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Hornet Sportabout    NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Valiant              NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Duster 360           NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Merc 240D            NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Merc 230             NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Merc 280             NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Merc 280C            NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Merc 450SE           NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Merc 450SL           NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Merc 450SLC          NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Cadillac Fleetwood   NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Lincoln Continental  NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Chrysler Imperial    NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Fiat 128             NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Honda Civic          NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Toyota Corolla       NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Toyota Corona        NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Dodge Challenger     NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
AMC Javelin          NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Camaro Z28           NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Pontiac Firebird     NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Fiat X1-9            NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Porsche 914-2        NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Lotus Europa         NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Ford Pantera L       NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Ferrari Dino         NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Maserati Bora        NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN
Volvo 142E           NaN  NaN   NaN NaN   NaN NaN   NaN NaN NaN   NaN   NaN

In [14]:
#First Row
mtcars.iloc[0,:]

mpg      21.00
cyl       6.00
disp    160.00
hp      110.00
drat      3.90
wt        2.62
qsec     16.46
vs        0.00
am        1.00
gear      4.00
carb      4.00
Name: Mazda RX4, dtype: float64

In [15]:
#last Row
mtcars.iloc[-1,:]

mpg      21.40
cyl       4.00
disp    121.00
hp      109.00
drat      4.11
wt        2.78
qsec     18.60
vs        1.00
am        1.00
gear      4.00
carb      2.00
Name: Volvo 142E, dtype: float64

In [16]:
# 1st, 4th, 7th, 25th row + 1st 6th 7th columns.
mtcars.iloc[[1,4,7,25],[1,6,7]]

                   cyl   qsec  vs
Mazda RX4 Wag        6  17.02   0
Hornet Sportabout    8  17.02   0
Merc 240D            4  20.00   1
Fiat X1-9            4  18.90   1

In [17]:
# first 5 rows and 5th, 6th, 7th columns of data frame
mtcars.iloc[:5,[5,6,7]]

                      wt   qsec  vs
Mazda RX4          2.620  16.46   0
Mazda RX4 Wag      2.875  17.02   0
Datsun 710         2.320  18.61   1
Hornet 4 Drive     3.215  19.44   1
Hornet Sportabout  3.440  17.02   0

In [18]:
#rows between 25 and 3rd last
mtcars.iloc[25:-4,:]

                mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
Fiat X1-9      27.3    4   79.0   66  4.08  1.935  18.9   1   1     4     1
Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.7   0   1     5     2
Lotus Europa   30.4    4   95.1  113  3.77  1.513  16.9   1   1     5     2

In [19]:
#alternative rows and alternative column
alt_rows=[]
for i in range(0,mtcars.shape[0]):
    if i%2!=0:
        odd=i
        alt_rows.append(odd)
        
alt_columns=[]
for j in range(0,mtcars.shape[1]):
    if j%2==0:
        even=j
        alt_columns.append(even)

In [20]:
print(f'the alternate number of rows :    {alt_rows}')
print(f'the alternate number of columns : {alt_columns}')

the alternate number of rows :    [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]
the alternate number of columns : [0, 2, 4, 6, 8, 10]

In [21]:
mtcars.iloc[alt_rows,alt_columns]

                      mpg   disp  drat   qsec  am  carb
Mazda RX4 Wag        21.0  160.0  3.90  17.02   1     4
Hornet 4 Drive       21.4  258.0  3.08  19.44   0     1
Valiant              18.1  225.0  2.76  20.22   0     1
Merc 240D            24.4  146.7  3.69  20.00   0     2
Merc 280             19.2  167.6  3.92  18.30   0     4
Merc 450SE           16.4  275.8  3.07  17.40   0     3
Merc 450SLC          15.2  275.8  3.07  18.00   0     3
Lincoln Continental  10.4  460.0  3.00  17.82   0     4
Fiat 128             32.4   78.7  4.08  19.47   1     1
Toyota Corolla       33.9   71.1  4.22  19.90   1     1
Dodge Challenger     15.5  318.0  2.76  16.87   0     2
Camaro Z28           13.3  350.0  3.73  15.41   0     4
Fiat X1-9            27.3   79.0  4.08  18.90   1     1
Lotus Europa         30.4   95.1  3.77  16.90   1     2
Ferrari Dino         19.7  145.0  3.62  15.50   1     6
Volvo 142E           21.4  121.0  4.11  18.60   1     2

In [22]:
#find row with Mazda RX4 Wag and columns cyl, am
mtcars.loc['Mazda RX4',['cyl','am']]

cyl    6.0
am     1.0
Name: Mazda RX4, dtype: float64

In [23]:
#find row between Merc 280 and Volvo 142E Mazda RX4 Wag and columns cyl, am
mtcars.loc['Merc 280':'Volvo 142E',['cyl','am']]

                     cyl  am
Merc 280               6   0
Merc 280C              6   0
Merc 450SE             8   0
Merc 450SL             8   0
Merc 450SLC            8   0
Cadillac Fleetwood     8   0
Lincoln Continental    8   0
Chrysler Imperial      8   0
Fiat 128               4   1
Honda Civic            4   1
Toyota Corolla         4   1
Toyota Corona          4   0
Dodge Challenger       8   0
AMC Javelin            8   0
Camaro Z28             8   0
Pontiac Firebird       8   0
Fiat X1-9              4   1
Porsche 914-2          4   1
Lotus Europa           4   1
Ford Pantera L         8   1
Ferrari Dino           6   1
Maserati Bora          8   1
Volvo 142E             4   1

In [24]:
# mpg > 23 or wt < 2
mtcars[(mtcars.mpg>23) | (mtcars.wt < 2)]

                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Merc 240D       24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
Fiat 128        32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
Honda Civic     30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
Fiat X1-9       27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
Porsche 914-2   26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
Lotus Europa    30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2

In [25]:
#using lambda for above
lamb=lambda mtcars:mtcars[(mtcars.mpg>23) | (mtcars.wt < 2)]
lamb(mtcars)

                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Merc 240D       24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
Fiat 128        32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
Honda Civic     30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
Fiat X1-9       27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
Porsche 914-2   26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
Lotus Europa    30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2

### with or condition

In [26]:
# find unique rows of cyl, am, gear
mtcars.cyl.unique()

array([6, 4, 8], dtype=int64)

In [27]:
#create new columns: first make a copy of mtcars to mtcars2
mtcars2=mtcars

In [28]:
#keep other cols and divide displacement by 61
disppp=mtcars2.disp/61
mtcars2['displaced']=disppp

In [29]:
# multiple mpg * 1.5 and save as original column
mtcars2.mpg=mtcars2.mpg*1.5

In [30]:
mtcars2

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,displaced
Mazda RX4,31.50,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2.622951
Mazda RX4 Wag,31.50,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2.622951
Datsun 710,34.20,4,108.0,93,3.85,2.320,18.61,1,1,4,1,1.770492
Hornet 4 Drive,32.10,6,258.0,110,3.08,3.215,19.44,1,0,3,1,4.229508
Hornet Sportabout,28.05,8,360.0,175,3.15,3.440,17.02,0,0,3,2,5.901639
Valiant,27.15,6,225.0,105,2.76,3.460,20.22,1,0,3,1,3.688525
Duster 360,21.45,8,360.0,245,3.21,3.570,15.84,0,0,3,4,5.901639
Merc 240D,36.60,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2.404918
Merc 230,34.20,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2.308197
Merc 280,28.80,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2.747541
Merc 280C,26.70,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2.747541
Merc 450SE,24.60,8,275.8,180,3.07,4.070,17.40,0,0,3,3,4.521311
Merc 450SL,25.95,8,275.8,180,3.07,3.730,17.60,0,0,3,3,4.521311
Merc 450SLC,22.80,8,275.8,180,3.07,3.780,18.00,0,0,3,3,4.521311
Cadillac Fleetwood,15.60,8,472.0,205,2.93,5.250,17.98,0,0,3,4,7.737705
Lincoln Continental,15.60,8,460.0,215,3.00,5.424,17.82,0,0,3,4,7.540984
Chrysler Imperial,22.05,8,440.0,230,3.23,5.345,17.42,0,0,3,4,7.213115
Fiat 128,48.60,4,78.7,66,4.08,2.200,19.47,1,1,4,1,1.290164
Honda Civic,45.60,4,75.7,52,4.93,1.615,18.52,1,1,4,2,1.240984
Toyota Corolla,50.85,4,71.1,65,4.22,1.835,19.90,1,1,4,1,1.165574
Toyota Corona,32.25,4,120.1,97,3.70,2.465,20.01,1,0,3,1,1.968852
Dodge Challenger,23.25,8,318.0,150,2.76,3.520,16.87,0,0,3,2,5.213115
AMC Javelin,22.80,8,304.0,150,3.15,3.435,17.30,0,0,3,2,4.983607
Camaro Z28,19.95,8,350.0,245,3.73,3.840,15.41,0,0,3,4,5.737705
Pontiac Firebird,28.80,8,400.0,175,3.08,3.845,17.05,0,0,3,2,6.557377
Fiat X1-9,40.95,4,79.0,66,4.08,1.935,18.90,1,1,4,1,1.295082
Porsche 914-2,39.00,4,120.3,91,4.43,2.140,16.70,0,1,5,2,1.972131
Lotus Europa,45.60,4,95.1,113,3.77,1.513,16.90,1,1,5,2,1.559016
Ford Pantera L,23.70,8,351.0,264,4.22,3.170,14.50,0,1,5,4,5.754098
Ferrari Dino,29.55,6,145.0,175,3.62,2.770,15.50,0,1,5,6,2.377049
Maserati Bora,22.50,8,301.0,335,3.54,3.570,14.60,0,1,5,8,4.934426
Volvo 142E,32.10,4,121.0,109,4.11,2.780,18.60,1,1,4,2,1.983607